SPARK_MASTER_URL=spark://spark-master:7077
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=sensor-stream
DATABASE_PATH=output/experiments.db
LOG_LEVEL=INFO
